<!DOCTYPE html>
<style>
    #dropzone {
    text-align: center;
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 4px dashed black;
    border-radius: 10px;
    }

    #boxtitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: black;
    font: bold 2em "Arial", sans-serif;
    width: 300px;
    height: 100px;
    }

</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebFileSystem.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebFileSystem.Presentation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2022 - WebFileSystem - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


      <script>
          let dropzone = document.getElementById("dropzone");
          let list = document.getElementById("listing")

            const foldersList = [];

            function scanFiles(item) {
                if (item.isDirectory) 
                {
                      let elem = document.createElement("li");
                      elem.textContent = item.fullPath;
                      list.appendChild(elem);
                    foldersList.push(item.fullPath);
                    let directoryReader = item.createReader();
                    directoryReader.readEntries((entries) => 
                    {
                        entries.forEach((entry) => 
                        {
                            scanFiles(entry);
                        });
                    });
                }
            }

            dropzone.addEventListener("dragover", (event) => {
                event.preventDefault();
            }, false);

            dropzone.addEventListener("drop", (event) => {
                let items = event.dataTransfer.items;

                event.preventDefault();
                for (let i=0; i<items.length; i++) {
                    let item = items[i].webkitGetAsEntry();

                    if (item) {
                        scanFiles(item);
                    }
                }
            }, false);




        document.getElementById('uploader').onsubmit = function () {

            var request = new XMLHttpRequest();     
            var requestData = new FormData();

            for (var i = 0; i < foldersList.length; i++) {
                   requestData.append("folders[]", foldersList[i]);
            }

            request.open('POST', '@Url.Action("ImportFolderFromArray","Home")',false);
            request.send(requestData);
        }

    </script>

</body>
</html>
