<h3>ABOUT</h3>
<br></br>
<h5>This task included pretty much technical solutions, </h5>
<h5>which it`ll be hard to describe here,</h5>
<h5>so I'll just describe html view and service functional.</h5>
<br></br>
<h5>1)First of all you can see a table with folder names and action buttons.</h5>
<h5>You can add folders, remove folders, import or export folders from(to) file,</h5>
<h5>also you can select a catalog in your file manager</h5>
<h5>and drop it to dotted zone.</h5>
<br></br>
<h5>2)If you don`t choose any folder you will add or import your structure, as a root folder,</h5>
<h5>else you will add it in structure, which you clicked.</h5>
<br></br>
<h5>3)If you want to import folder(s) from file,</h5>
<h5>you can download an example, which link is located above import button.</h5>
<br></br>
<h5>4)The main task idea was to save relations between folders,</h5>
<h5>and it doesn`t matter, have they files or no,</h5>
<h5>so you can import all your folder catalog and it will have same structure, but without files.</h5>
<br></br>
<h4>Stack of Technologies:</h4>
<br></br>
<h5>1) ASP .NET MVC</h5>

<h5>2) EntityFrameworkCore</h5>

<h5>3) Azure</h5>

<h5>4) Git, GitHub, CI/CD</h5>

<h5>5) MS SQL</h5>