@model List<FolderModel>

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("ImportFolderFromCatalog", "Home", FormMethod.Post, new { id = "uploader" }))
{
    <div id="dropzone">
        <div id="boxtitle">
            Drop your folder here
        </div>
    </div>
    <ul id="listing" ></ul>

    <input type="submit" value="Ok" />
}

@using (Html.BeginForm("AddFolder", "Home", FormMethod.Post))
{
    <input type="text" placeholder="Folder Name" name="Name" >

    <input type="hidden" name="ParentId" value=@ViewData["FolderId"]>
   
    <button role="button" type="submit">Add</button>
}

@using (Html.BeginForm("RemoveFolder", "Home", FormMethod.Post))
{
    <input type="text" placeholder="Folder Name" name="Name" >

    <input type="hidden" name="ParentId" value=@ViewData["FolderId"]>

    <button role="button" type="submit">Remove</button>
}

<h5>@ViewBag.ResponseMessage</h5>

@foreach(var item in Model)
{
    <p></p>
    <h6><a role="button" asp-controller="Home" asp-action="Index" asp-route-folderId="@item.Id">@item.Name</a></h6>   
}
